<div align="center">
<h1 style="font-family: Times New Roman, Times, serif;">About </h1>
</div>
<div>
<p>Skill-Link is to provide home services to consumers through a technology-enabled platform. The application aims to simplify the process of finding and booking reliable service providers for various home services such as cleaning, home repairs etc. Our goal is to offer a convenient and hassle-free experience to its customers by providing them with a wide range of services at their preferred time and location. The Skill-Link also aims to empower our unskilled local workers by providing employability to them. Overall, our objective is to become the go-to destination for home service needs.</p>
 
 <p> For more<a href="https://github.com/bhupesh1108/Skill-Link.git">click here</a></p>

</div>

