@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This applications is under maintenance for any help you can mail us </p>
<a href="bhupesh.verma00700@gmail.com">bhupesh.verma00700@gmail.com</a>
